/* Write your CSS here */
.match {
  padding: 10px;
  margin: 15px;
  background-color: red;
}
.matching {
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.latest {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
